{% extends 'base.html' %}
{% block content %}


<!--Contact-->
      <div class="portfolio mt-5 pt-0 mb-5 pb-5" id="contact">
        <div class="container">
          <div class="section-heading text-center mt-5 mr-5">
					<div class="text-center">
						I'm currently accepting new projects and would love to hear from you.
            <br>
            I'm also available for freelance contracts, so get in touch:
            <br><br>
            <a  style="color: white;" href="mailto:kipfrankline@gmail.com" target="_blank"><i fa fab-envelope></i>Email: kipfrankline@gmail.com</a>
            <br><br>
            <button class="btn primary"><a style="color: white;" href="whatsapp://send?abid=+254724375662&text=Hello%2C%20World!">Send Message</a> </button><br>
            <a style="color: white;" href="tel:+254724375662">Tel: +254724375662</a>
					</div>
				</div>
			</div>
</div>
<!--end of contact-->
</div>
<br><br><br>
<footer>
  &copy 2023 Frankline Kiplangat
  </footer>
  <br><br>
</div>
{% endblock %}
