{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="portfolio mt-8 pt-1 mb-8 pb-8" id="portfolio">
        <div class="container">
          <div class="section-heading text-center mt-5 mr-5">
            <p>Here are some of my projects</p>
          </div>
          <div class="portfolio-item">
            <div class="container bg-transparent">
              <div class="row">
                <div class="col-md-4">
                  <div class="portfolio-img content">
                  <!--card-->
                      <div class="view overlay zoom">
                        <div class="card">
                          <div class="view overlay">
                            <img src="{% static 'images/project7.png'%}" class="card-img-top img-thumbnail" width="100%">
                          </div>
                          <div class="">
                          <div class="view overlay zoom">
                            <h6 class="card-title text-dark text-center text-uppercase mt-2">Project Review</h6>
                            <p class="card-text text-dark ml-3"><small>Platform where you can upload projects to be rated by other users.</small></p>
                            <a href="https://frank-awwards-clone.herokuapp.com/" target="_blank" class="btn btn-elegant btn-sm ml-5">Visit site</a>
                            <a href="https://github.com/Frankline-Kiplangat/git-awwards" target="_blank" class="btn btn-elegant btn-sm ml-5">Details</a>

                          </div>
                        </div>
                        </div>

                      </div>
                    <!-- Card -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="portfolio-img content">
                    <!-- Card -->
                      <div class="view overlay zoom">
                        <div class="card">
                          <div class="view overlay">
                            <img src="{% static 'images/project1.png'%}" class="card-img-top img-thumbnail" width="100%">
                          </div>
                          <!-- Card content -->
                          <div class="">
                          <!-- Title -->
                            <h6 class="card-title text-dark text-center text-uppercase mt-2">Instagram Clone</h6>
                          <!-- Text -->
                            <p class="card-text text-dark ml-3"><small>This is an Instagram clone app where users can register, login and upload images.</small></p>
                          <!-- Button -->
                            <a href="https://frank-instagram-app.herokuapp.com/" target="_blank" class="btn btn-elegant btn-sm ml-5">Visit site</a>
                            <a href="https://github.com/Frankline-Kiplangat/instagram-app" target="_blank" class="btn btn-elegant btn-sm ml-5">Details</a>

                          </div>
                        </div>

                      </div>
                    <!-- Card -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="portfolio-img content">
                    <!-- Card -->
                      <div class="view overlay zoom">
                        <div class="card">
                          <div class="view overlay">
                            <img src="{% static 'images/project2.png'%}" class="card-img-top img-thumbnail" width="100%">
                          </div>
                          <!-- Card content -->
                          <div class="">
                          <!-- Title -->
                            <h6 class="card-title text-dark text-center text-uppercase mt-2">Personal Gallery</h6>
                          <!-- Text -->
                            <p class="card-text text-dark ml-3"><small>Gallery that displays my photos for others to see. You can click on a single photo to view details.</small></p>
                          <!-- Button -->
                            <a href="https://frank-personal-gallery.herokuapp.com/" target="_blank" class="btn btn-elegant btn-sm ml-5">Visit site</a>
                            <a href="https://github.com/Frankline-Kiplangat/personal-gallery" target="_blank" class="btn btn-elegant btn-sm ml-5">Details</a>

                          </div>
                        </div>

                      </div>
                    <!-- Card -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mt-3">
                  <div class="portfolio-img content">
                    <!-- Card -->
                      <div class="view overlay zoom">
                        <div class="card pb-2">
                          <div class="view overlay">
                            <img src="{% static 'images/project3.png'%}" class="card-img-top img-thumbnail" width="100%">
                          </div>
                          <!-- Card content -->
                          <div class="view overlay zoom">
                          <!-- Title -->
                            <h6 class="card-title text-dark text-center text-uppercase mt-2">Akan Names</h6>
                          <!-- Text -->
                            <p class="card-text text-dark ml-3"><small>This web application takes user's birthdays and calculates the day of the week they were born and then depending on their gender outputs their Akan Name.</small></p>
                          <!-- Button -->
                            <a href="https://frankline-kiplangat.github.io/akan-names/" target="_blank" class="btn btn-elegant btn-sm ml-5 mt-4">Visit site</a>
                            <a href="https://github.com/Frankline-Kiplangat/akan-names" target="_blank" class="btn btn-elegant btn-sm mt-4 ml-5">Details</a>

                          </div>
                        </div>

                      </div>
                    <!-- Card -->
                  </div>
                </div>
                <div class="col-md-4 mt-3">
                  <div class="portfolio-img content">
                    <!-- Card -->
                      <div class="view overlay zoom">
                        <div class="card pb-2">
                          <div class="view overlay">
                            <img src="{% static 'images/project6.png'%}" class="card-img-top img-thumbnail" width="100%">
                          </div>
                          <!-- Card content -->
                          <div class="">
                          <!-- Title -->
                            <h6 class="card-title text-dark text-center text-uppercase mt-2">Quotes App</h6>
                          <!-- Text -->
                            <p class="card-text text-dark ml-3"><small>Application where users can create quotes and have those quotes voted on whether they are terrible or are inspirational. User can add as many quotes as possible.</small></p>
                          <!-- Button -->
                            <a href="https://frankline-kiplangat.github.io/Quotes-App/" target="_blank" class="btn btn-elegant btn-sm ml-5 mt-4">Visit site</a>
                            <a href="https://github.com/Frankline-Kiplangat/Quotes-App" target="_blank" class="btn btn-elegant btn-sm mt-4 ml-5">Details</a>

                          </div>
                        </div>

                      </div>
                    <!-- Card -->
                  </div>
                </div>
                <div class="col-md-4 mt-3">
                  <div class="portfolio-img content">
                    <!-- Card -->
                      <div class="view overlay zoom">
                        <div class="card pb-2">
                          <div class="view overlay">
                            <img src="{% static 'images/project5.png'%}" class="card-img-top img-thumbnail" width="100%">
                          </div>
                          <!-- Card content -->
                          <div class="">
                          <!-- Title -->
                            <h6 class="card-title text-dark text-center text-uppercase mt-2">Github-Search</h6>
                          <!-- Text -->
                            <p class="card-text text-dark ml-3"><small>Website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories.</small></p>
                          <!-- Button -->
                            <a href="https://frankline-kiplangat.github.io/Github-Search/" target="_blank" class="btn btn-elegant btn-sm ml-5 mt-4">Visit site</a>
                            <a href="https://github.com/Frankline-Kiplangat/Github-Search" target="_blank" class="btn btn-elegant btn-sm mt-4 ml-5">Details</a>

                          </div>
                        </div>

                      </div>
                    <!-- Card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <footer>
            &copy 2023 Frankline Kiplangat
            </footer>
            <br>
      </div>
{% endblock %}